@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-body;
  }
  a, span {
    @apply block;
  }
}

:root {
  --bg-edge: 7vw;
  --bg-blue-left: linear-gradient(90deg, bg-neutral-100 var(--bg-edge), #f2f5fc var(--bg-edge));
}

body {
  color: #fff;
  background: #555
}
